<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.alcobass.films.server.db.mappers.DictionaryMapper">

<resultMap type="org.alcobass.films.shared.beans.CountryBean" id="CountryMap">
   <result column="ID" property="id" />
   <result column="NAME" property="name" />
</resultMap>  

<resultMap type="org.alcobass.films.shared.beans.GenreBean" id="GenreMap">
   <result column="ID" property="id" />
   <result column="NAME" property="name" />
</resultMap>  


<select id="selectCountries" resultMap="CountryMap">
SELECT ID,
       NAME
  FROM COUNTRY
 ORDER BY ID                
</select>

<select id="selectGenres" resultMap="GenreMap">
SELECT ID,
       NAME
  FROM GENRE
 ORDER BY ID                
</select>

</mapper>
